services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: banking_project
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      # Mount code for local development (remove in prod)
      - .:/app
    restart: unless-stopped
    command: uvicorn src.backend.app.main:app --host 0.0.0.0 --port 8000
    depends_on:
      - postgres

  postgres:
    image: postgres:16-bullseye
    container_name: banking_postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
