api: 
  dashboard: true
  insecure: true

log:
  level: DEBUG
  format: json

accessLog:
  filePath: /var/log/traefik/access.log
  format: json

middleware:
  retry:
    retry:
      attempts: 3
      initialInterval: 500ms
      maxInterval: 1s
      maxElapsedTime: 10s

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true


entryPoints:
  web:
    address: ":80"